@import url(https://fonts.googleapis.com/css?family=Cuprum:400,400i,700&display=swap&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic);

body {
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/*
==========
common
==========
*/

.container {
  box-sizing: content-box;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.container-popup {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none;
}

.new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background-image: url(../img/new.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*Logo*/

.logo {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: -5px;
  width: 220px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo-small {
  padding-top: 12px;
  height: 47px;
}

.logo-big {
  margin-bottom: 27px;
  padding-top: 20px;
  height: 68px;
}

.logo__img-small {
  width: 109px;
  height: 19px;
}

/*Cостояния [START]*/
.logo:not(.logo-index):hover,
.logo:not(.logo-index):focus {
  background-color: #ca2c37;
}

.logo:not(.logo-index):active {
  background-color: #ba2732;
}
/*Состояния [END]*/

/*Heading*/

.heading {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 28px;
  color: #32425c;
  text-transform: uppercase;
}

.heading-page {
  margin: 20px 0 0 0;
  padding: 29px 28px 27px;
  background-color: #f2f6f8;
  font-size: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.heading-black {
  color: #000000;
}

/*Text*/

.text {
  margin: 26px 0 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.text-narrow {
  width: 450px;
}

.text-indent {
  padding-left: 3px;
}

/*List*/

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__item {
  position: relative;
  margin-top: 20px;
  padding-left: 35px;
  font-size: 18px;
  line-height: 20px;
}

.list__item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

/*Buttons*/

.btn {
  display: block;
  box-sizing: border-box;
  padding: 13px 6px 10px 10px;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

/*Состояния [START]*/
.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}
/*Состояния [END]*/

.btn-light {
  display: block;
  padding: 10px 13px 11px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}

.btn-light-popup {
  padding: 13px 6px 10px 10px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
}

/*Состояния [START]*/
.btn-light:not(.btn-active):hover,
.btn-light:not(.btn-active):focus {
  border-color: #bdc6ca;
  outline: none;
}

.btn-light:not(.btn-active):active {
  border-color: #ee3643;
  outline: none;
}
/*Состояния [END]*/

.btn-active {
  background-color: #ee3643;
  border-color: #ee3643;
  color: #ffffff;
}

.btn-close {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 1;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url(../img/btn-close.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.btn-square {
  padding-left: 15px;
  padding-right: 15px;
}

.btn-medium {
  min-width: 112px;
}

.btn-big {
  min-width: 253px;
}

.btn-max {
  width: 100%;
}

/*Map*/

.map {
  margin-top: 33px;
  cursor: pointer;
}


/*
==========
popup-map
==========
*/

.popup-map {
  position: relative;
  width: 940px;
  height: 445px;
  box-shadow:  0 5px 20px -5px #000000;
}

.map-interactive {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 940px;
  height: 445px;
  border: none;
}


/*
==========
popup
==========
*/

.container-popup {
  z-index: 1;
}

.popup {
  position: relative;
  box-sizing: border-box;
  width: 620px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow:  0 5px 20px -5px #000000;
}

.popup__text {
  position: relative;
  margin: 0;
  padding-left: 96px;
  font-size: 30px;
}

.popup__text::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 66px;
  height: 66px;
  background-image: url(../img/success.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.popup__field {
  margin: 0;
}

.popup__field:last-child {
  margin-top: 20px;
}

.popup__label {
  display: block;
  font-size: 18px;
}

.popup__input {
  box-sizing: border-box;
  width: 220px;
}

.popup__textarea {
  width: 460px;
  min-height: 114px;
}

.popup__input,
.popup__textarea {
  margin-top: 8px;
  padding: 9px 14px 11px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  outline: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.popup__input:hover,
.popup__textarea:hover {
  border-color: #b5b5b5;
}

.popup__input:focus,
.popup__textarea:focus {
  border-color: #ee3643;
}

.form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 46px 80px 0 80px;  
}

.info-box {
  padding: 63px 80px 32px;  
}

.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  padding: 34px 80px 38px;
  background-color: #f4f4f4;
}


/*
==========
header
==========
*/

.header {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}


/*
==========
search
==========
*/

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search__label {
  position: absolute;
  top: 12px;
  left: 17px;
  padding-left: 32px;
  font-size: 17px;
  color: #ffffff;
}

.search__button {
  position: absolute;
  top: 0;
  left: 17px;
  background-color: transparent;
  border: none;
  outline: none;
}

.search__button::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  background-image: url(../img/icon-search.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.search__field {
  box-sizing: border-box;
  padding: 10px 13px 10px 49px;
  width: 270px;
  min-height: 42px;
  background-color: inherit;
  border: none;
  outline: none;
}

.search__field::-webkit-search-cancel-button {
  display: none;
}

/*Состояния [START]*/
.search__field:hover ~ .search__button::before,
.search__button:hover::before {
  opacity: 1;
}

.search__field:focus {
  background-color: #ffffff;
}

.search__field:focus + .search__label,
.search__field:not(:focus) {
  font-size: 0;
}

.search__field:focus ~ .search__button::before {
  background-image: url(../img/icon-search-focus.svg);
  opacity: 1;
}
/*Состояния [END]*/


/*
==========
shopping
==========
*/

.shopping {
	min-height: 42px;
  background-color: #293449;
}

.shopping__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.shopping__link  {
	position: relative;
	display: flex;
	align-items: center;
  box-sizing: border-box;
  width: 150px;
  padding: 10px 10px 10px 45px;
	min-height: 42px;
	font-size: 17px;
	color: #ffffff;
}

/*Cостояния [START]*/
.shopping__link:hover,
.shopping__link:active {
  background-color: #212a3a;
}

.shopping__link:hover.shopping__link::before,
.shopping__link:active.shopping__link::before {
  opacity: 1;
}

.shopping__link:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.shopping__link:focus.shopping__link::before {
  opacity: 0.5;
}
/*Cостояния [END]*/

.shopping__link::before {
	content: '';
  position: absolute;
  top: 12px;
  left: 18px;
}

.shopping__link-bookmarks::before {
	width: 14px;
	height: 16px;
	background-image: url(../img/icon-bookmark.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.shopping__link-basket {
  padding-left: 49px;
}

.shopping__link-basket::before {
	width: 15px;
	height: 15px;
	background-image: url(../img/cart-icon.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.shopping-full {
  background-color: #ee3643;
}

/*Состояния [START]*/
.shopping-full:hover,
.shopping-full:focus {
  background-color: #ca2c37;
}

.shopping-full:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #ba2732;
}  
/*Состояния [END]*/

.shopping__link-order {
	padding: 0 21px;
	background-color: #63a63e;
}

/*Состояния [START]*/
.shopping__link-order:hover,
.shopping__link-order:focus {
  background-color: #5fbb2d;
}

.shopping__link-order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}  
/*Состояния [END]*/

.bookmarks-value,
.basket-value {
  white-space: pre-wrap;
}


/*
==========
navigation
==========
*/

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  flex-grow: 1;
}

.navigation__link {
  display: block;
  padding: 20px 0 17px;
  text-align: center;
  color: #ffffff;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.navigation__item:nth-child(8n + 1) .navigation__link {
  padding-left: 19px;
}

.navigation__item:nth-child(7n) .navigation__link {
  padding-right: 22px;
}

/*Состояния [START]*/
.navigation__link:not(.navigation__link-current):hover,
.navigation__link:not(.navigation__link-current):focus {
  background-color: #293449;
}

.navigation__link:not(.navigation__link-current):active {
  background-color: #1d2739;
  border-bottom-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}
/*Состояния [END]*/


/*
==========
short-data
==========
*/

.container-interaction {
  padding: 49px 0 37px;
}

.short-data {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 53px;
}

.short-data__description {
  margin: 0;
  width: 200px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.short-data-contacts {
  box-sizing: border-box;
  width: 264px;
}

.short-data__tel {
  position: relative;
  display: block;
  padding: 8px 11px 8px 31px;
  width: 100%;
  box-shadow: 0 0 0 3px #ffffff;
  font-size: 21px;
  text-align: center;
  color: #ee3643;
}

.short-data__tel::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 11px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.short-data__address {
  margin: 7px 0 0 0;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}


/*
==========
account
==========
*/

.account__actions {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 25px;
  padding: 0;
  list-style-type: none;
}

.account__action:not(:first-child) {
  margin-left: 18px;
}

.account__link {
  display: block;
  padding: 7px 22px;
  background-color: #ffffff;
  font-size: 21px;
  color: #000000;
  outline: 4px solid white;
}

/*Состояния [START]*/
.account__link:hover,
.account__link:focus {
  color: #ee3643;
}

.account__link:active {
  color: rgba(0, 0, 0, 0.3);
}
/*Состояния [END]*/

/*account__link-enter*/
.account__link-enter {
  position: relative;
  padding-left: 41px;
}

.account__link-enter::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*Состояния [START]*/
.account__link:hover.account__link-enter::before,
.account__link:focus.account__link-enter::before {
  background-image: url(../img/icon-login-hover.svg);
}

.account__link:active.account__link-enter::before {
  background-image: url(../img/icon-login.svg);
}
/*Состояния [END]*/

/*account__link-user*/
.account__link-user {
  position: relative;
  padding: 7px 0 7px 42px;
}

.account__link-user::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 20px;
  height: 18px;
  background-image: url(../img/icon-user.svg);
  background-position: 0 0;
  background-repeat: no-repeat;  
}

/*Состояния [START]*/
.account__link:hover.account__link-user::before,
.account__link:focus.account__link-user::before {
  background-image: url(../img/icon-user-focus.svg);
}

.account__link:active.account__link-user::before {
  background-image: url(../img/icon-user.svg);
}
/*Состояния [END]*/

/*account__link-exit*/
.account__link-exit {
  display: block;
  position: relative;
  padding: 10px 7px;
  width: 20px;
  height: 17px;
}

.account__link-exit::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-logout.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*Состояния [START]*/
.account__link-exit:hover.account__link-exit::before,
.account__link-exit:focus.account__link-exit::before {
  background-image: url(../img/icon-logout-focus.svg);
}

.account__link-exit:active.account__link-exit::before {
  background-image: url(../img/icon-logout.svg);
}
/*Состояния [END]*/

/*account-authorized*/
.account-authorized__actions {
  display: flex;
  justify-content: space-between;
  margin: 0 4px 0 6px;
  padding: 0;
  width: 290px;
  background-color: #ffffff;
  outline: 4px solid #ffffff;
  list-style-type: none;
}


/*
==========
user
==========
*/

.user {
  display: flex;
  margin: 10px 0 0 0;
  padding: 0 18px;
  list-style-type: none;
}

.user__action {
  position: relative;
}

.user__action:not(:first-child) {
  margin-left: 16px;
  padding-left: 16px;
}

.user__action:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.user__link {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

/*Состояния [START]*/
.user__link:hover,
.user__link:focus {
  color: #ee3643;
}

.user__link:active {
  color: #32425c;
  opacity: 0.3;
}
/*Состояния [END]*/


/*
==========
breadcrumbs
==========
*/

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:first-child) {
  margin-left: 15px;
  padding-left: 26px;
}

.breadcrumbs__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs__link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs__link-index {
  display: block;
  position: relative;
  width: 14px;
  height: 12px;
}

.breadcrumbs__link-index::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  background-image: url(../img/icon-home.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}


/*
==========
filters
==========
*/

.filters {
  width: 219px;
}

.filters__heading {
  margin: 0;
  padding: 12px 19px 10px;
  background-color: #f7f3ec;
  border-radius: 3px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.btn-filters {
  margin-top: 56px;
}

/*settings*/

.settings {
  margin-top: 17px;
}

.settings__type {
  margin: 0;
  padding: 0 0 23px 0;
  border: none;
}

.settings__type:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.settings__type:not(:first-of-type) {
  margin-top: 25px;
}

.settings__name {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.settings__list {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.settings__item:not(:first-child) {
  margin-top: 21px;
}

.settings__label {
  position: relative;
  padding: 0 0 0 35px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.settings__checkbox + .settings__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 19px;
  height: 19px;
  background-color: #ffffff;
  border: 2px solid rgba(196, 196, 196, 0.8);
  border-radius: 3px;
}

.settings__radio + .settings__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 4px solid rgba(196, 196, 196, 0.8);
  border-radius: 50%;
}

/*Состояния [START]*/
.settings__checkbox:checked + .settings__label::before {
  width: 26px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  border: none;
  opacity: 0.8;
}

.settings__radio:checked + .settings__label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: rgba(196, 196, 196, 0.8);
  border-radius: 50%;
}

.settings__checkbox:disabled + .settings__label,
.settings__radio:disabled + .settings__label {
  opacity: 0.4;
}

.settings__checkbox:disabled + .settings__label::before,
.settings__radio:disabled + .settings__label::before,
.settings__radio:disabled + .settings__label::after {
  opacity: 0.3;
}

.settings__checkbox:not(:disabled) + .settings__label:hover::before,
.settings__radio:not(:disabled) + .settings__label:hover::before {
  opacity: 1;
  border-color: rgba(196, 196, 196, 1);
}

.settings__radio:not(:disabled) + .settings__label:hover::after {
  background-color: rgba(196, 196, 196, 1);
}
/*Состояния [END]*/


/*
==========
range
==========
*/

.range {
  margin-top: 20px;
  width: 220px;
}

.range__controls {
  position: relative;
  padding: 39px 20px 0;
  height: 41px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range__scale {
  height: 2px;
  background-color: #d7dcde;
}

.range__bar {
  width: 80%;
  height: 2px;
  background-color: #00ca74;
}

.range__pin {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range__pin-min {
  left: 18px;
}

.range__pin-max {
  left: 160px;
}

.range-price {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.range__value {
  box-sizing: border-box;
  width: 94px;
  height: 38px;
  background-color: #f7f3ec;
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  text-align: center;  
}


/*store*/
.container-store {
  margin-top: 20px;
}

.col-store {
  width: 700px;
}


/*
==========
sort
==========
*/

.sort {
  display: flex;
  flex-wrap: wrap;
  padding: 11px 17px 9px 19px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sort__heading {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.sort__list {
  display: flex;
  margin: -3px 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.sort__item {
  margin-left: 69px;
}

.sort__type {
  padding: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed #ee3643;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/*Состояния [START]*/
.sort__type:hover,
.sort__type:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}
/*Состояния [END]*/

.sort__type-current {
  color: #ee3643;
  border: none;
}

/*order*/
.order {
  display: flex;
  margin: -2px 0 0 45px;
  padding: 0;
  list-style-type: none;
}

.order__item:not(:first-child) {
  margin-left: 20px;
}

.order__button {
  box-sizing: border-box;
  padding: 0;
  width: 11px;
  height: 10px;
  border: none;
  background-image: url(../img/icon-dir.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.25;
  cursor: pointer;
}

.order__button-min {
  transform: rotate(180deg);
}

.order__button-active {
  background-image: url(../img/icon-dir-active.svg);
  opacity: 1;
}

/*Состояния [START]*/
.order__button:hover,
.order__button:focus {
  background-image: url(../img/icon-dir-active.svg);
  opacity: 1;
}
/*Состояния [END]*/


/*
==========
promo
==========
*/

.promo {
  padding: 59px 0 52px;
}

.promo__list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/*
==========
category
==========
*/

.category {
  position: relative;
  box-sizing: border-box;
  padding: 22px 23px 21px;
  min-height: 123px;
}

.category::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 140px;
  height: 123px;
}

.category-materials::before {
  top: 2px;
  right: -5px;
  background-image: url(../img/icon-materials.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.category-instruments::before {
  top: 2px;
  right: -5px;
  background-image: url(../img/icon-tool.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.category-technique::before {
  background-image: url(../img/icon-technic.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.category-discounts::before {
  right: 5px;
  background-image: url(../img/icon-discounts.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.category-delivery::before {
  top: 2px;
  background-image: url(../img/icon-delivery.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.category-orange {
  background-color: #ffc047;
}

.category-darkorange {
  background-color: #ffbf47;
}

.category-blue {
  background-color: #3bbce3;
}

.category-pink {
  background-color: #dc91d8;
}

.category-green {
  background-color: #8ed78f;
}

.category__name {
  margin: 0 0 14px 0;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.category__button {
  display: block;
  width: 135px;
  padding: 11px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 3px;
}

/*Состояния [START]*/
.category__button:hover,
.category__button:focus {
  background-color: rgb(0, 0, 0, 0.2);
}

.category__button:active {
  background-color: rgb(0, 0, 0, 0.3);
}
/*Состояния [END]*/


/*
==========
slider
==========
*/

.category-slider {
  position: relative;
  grid-column: 1/3;
  grid-row: 2/4;
}

.slider {
  padding: 0;
  list-style-type: none;
}

.slide {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  padding: 21px 24px 22px;
  width: 620px;
  min-height: 266px;
}

.slide-drill {
  background-image: url(../img/drills.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.slide-perforator {
  background-image: url(../img/perforators.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.slide__heading {
  margin: 0 0 1px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.slide__text {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.btn-slide {
  align-self: flex-start;
  margin-top: auto;
  min-width: 195px;
}


/*
==========
switches
==========
*/

.switches {
  position: absolute;
  bottom: 36px;
  left: 295px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.switches__item {
  position: relative;
  width: 10px;
  height: 10px;
}

.switches__item:not(:first-child) {
  margin-left: 10px;
}

.switches__dot::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/*Состояния [START]*/
.switches__radio:checked + .switches__dot::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}
/*Состояния [END]*/

.switches__arrow::before {
  content: "";
  position: absolute;
  bottom: 77px;
  width: 22px;
  height: 40px;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.switches__arrow-left::before {
  left: -269px;
}

.switches__arrow-right::before {
  left: 263px;
  transform: rotate(180deg);
}


/*
==========
section
==========
*/

.section {
  padding: 67px 0 29px;
}

.section-lightgrey {
  background-color: #f4f8f9;
}

.section-heading-box {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px 25px 28px;
  background-color: #f9f5f0;
}

.section-information {
  margin-top: 60px;
  padding: 68px 0;
}

.section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 22px 0;
  padding: 0;
  list-style-type: none;
}


/*
==========
product
==========
*/

.product {
  position: relative;
  width: 220px;
}

.product-index:not(:nth-child(4n + 1)),
.product-catalog:not(:nth-child(3n + 1)) {
  margin-left: 20px;
}

.product-catalog {
  margin-top: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 0 18px;
  min-height: 318px;
  border: 1px solid #eaeaea;
}

/*Состояния [START]*/
.product:hover,
.product:focus {
  box-shadow: 0 0 15px -5px #000000;
  outline: none;
}

.product:hover .product__image,
.product:focus .product__image {
  opacity: 0;
}

.product:hover .product-action,
.product:focus .product-action {
  z-index: 1;
}
/*Состояния [END]*/

.product__name {
  margin: 0 0 12px 0;
  padding: 0 20px;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.product__model {
  text-transform: uppercase;
}

.product__price {
  box-sizing: border-box;
  margin: auto 0 0 5px;
  padding: 10px;
  width: 141px;
  background-image: url(../img/btn-price.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.product__price-old {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.product__image {
  order: -1;
  margin: -20px -20px 10px;
}

/*product-action*/

.product-action {
  position: absolute;
  z-index: -1;
  order: -1;  
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 24px 0 37px;
  list-style-type: none;
}

.product-action__item:not(:first-child) {
  margin-top: 7px;
}

.product-action__button {
  display: block;
  box-sizing: border-box;
  width: 135px;
  border-radius: 3px;
  border: none;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.product-action__button-buy {
  position: relative;
  padding: 12px 0 7px;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  color: #ffffff;
}

.product-action__button-buy::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
} 

/*Состояния [START]*/
.product-action__button-buy:hover,
.product-action__button-buy:focus {
  background-color: #5fbb2d;
}

.product-action__button-buy:hover.product-action__button-buy::before,
.product-action__button-buy:focus.product-action__button-buy::before{
  opacity: 1;
}

.product-action__button-buy:active {
  background-color: #518534;
  border-color: #518534;
}
/*Состояния [END]*/

.product-action__button-bookmark {
  padding: 10px 0 6px;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  color: #32425c;
}

/*Состояния [START]*/
.product-action__button-bookmark:hover,
.product-action__button-bookmark:focus {
  border-color: #32425c;
}

.product-action__button-bookmark:active {
  outline: none;
  opacity: 0.3;
}
/*Состояния [END]*/


/*
==========
buy-popup
==========
*/

.buy {
  justify-content: space-between;
  margin-bottom: 0;
  list-style-type: none;
}

.buy__action {
  width: 50%;
} 

.buy__action:not(:first-child) {
  margin-left: 20px;
}


/*
==========
manufacturer
==========
*/

.section__list-manufacturers {
  margin-bottom: 64px;
}

.manufacturer:not(:nth-child(4n + 1)) {
  margin-left: 20px;
}

.manufacturer {
  margin-bottom: 20px;
}

.manufacturer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 218px;
  min-height: 143px;
  border: 1px solid #eaeaea;
}

/*Состояния [START]*/
.manufacturer__link:hover,
.manufacturer__link:focus {
  box-shadow: 0 0 15px -5px #000000;
  outline: none;
}

.manufacturer__link:active {
  opacity: 0.3;
}
/*Состояния [END]*/


/*
==========
services
==========
*/

.services-box {
  position: relative;
  display: flex;
}

.services {
  position: relative;
  box-sizing: border-box;
  margin: 69px 0;
  padding: 0;
  width: 241px;
  list-style-type: none;
}

.services::after {
  content: "";
  top: -40px;
  right: 0;
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url(../img/shadow.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services__btn {
  width: 100%;
  padding: 18px 23px 19px;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-left: none;
  border-bottom: 1px solid #293449;
  border-right: none;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

/*Состояния [START]*/
/*наведение*/
.services__btn:not(.active):hover {
  background-color: #293449;
}
/*Состояния [END]*/

.services__btn.active {
  background-color: #ffffff;
  border: none;
  color: #32425c;
}


/*
==========
services-description
==========
*/

.services-description {
  margin: 0;
  padding: 66px 0 62px 80px;
  list-style-type: none;
}

.services-description__name {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.services-description__item::after {
  content: "";
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services-description__item-delivery::after {
  top: 93px;
  right: 0;
  width: 468px;
  height: 261px;
  background-image: url(../img/car.png);
}

.services-description__item-warranty::after {
  top: 70px;
  right: -87px;
  width: 468px;
  height: 261px;
  background-image: url(../img/warranty.png);
}

.services-description__item-credit::after {
  top: 68px;
  right: -13px;
  width: 468px;
  height: 261px;
  background-image: url(../img/credit.png);
}

.text-services {
  margin-top: 21px;
  width: 380px;
}

.btn-services {
  display: inline-block;
  vertical-align: middle;
  margin-top: 25px;
  padding-left: 5px;
  min-width: 195px;
}


/*about*/

 .section-about {
  padding: 79px 0 86px; 
  width: 520px;
 }

.btn-about {
  display: inline-block;
  vertical-align: middle;
  margin-top: 36px;
  min-width: 220px;
} 


/*contacts*/

.section-contacts {
  padding: 79px 0 86px;
}

.btn-contacts {
  margin-top: 35px;
}


/*pagination*/

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 53px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.pagination__item:not(:first-child) {
  margin-left: 9px;
}


/* 
==========
FOOTER
==========
*/

.footer-light {
  background-color: #32425c;
}

.footer-dark {
  display: flex;
  padding: 36px 0 31px;
  min-height: 107px;
  background-color: #293449;
}

.footer-col-right {
  padding: 37px 0 74px;
}

.footer-contacts {
  align-self: flex-start;
}

.footer__text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer__text-small {
  font-size: 16px;
  line-height: 18px;
}

.footer__text-yellow {
  color: #ffd180;
}

.footer__text-developer {
  display: block;
}

.footer__text-link:hover,
.footer__text-link:focus {
  text-decoration: underline;
}

.footer__text-link:active {
  opacity: 0.5;
}

.footer__text:hover .footer__text-developer,
.footer__text:focus .footer__text-developer {
  text-decoration: underline;
}

.footer__text:active .footer__text-developer {
  color: #ee3643;
  text-decoration: none;
}

/*nav-footer*/

.nav-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-nav:not(:first-of-type) {
  margin-top: 34px;
}

.nav-footer__item:not(:first-child) {
  margin-left: 60px;
}

/*socials*/ 

.socials {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  margin: 0 0 0 150px;
  padding: 0;
  list-style-type: none;
}

.socials__item:not(:nth-child(3n + 1)) {
  margin-left: 5px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}

.socials__link:hover,
.socials__link:focus,
.socials__link:active {
  background-color: #ee3643;
}

/*developer*/ 

.developer {
  display: flex;
  justify-content: space-between;
  margin: 0 14px 0 105px;
  min-width: 285px;
}
